@import url('https://fonts.googleapis.com/css2?family=Paprika&display=swap');

body{
  font-family: 'Paprika', cursive;
  margin: auto;
  background-color: rgb(130, 190, 230);
}


#entireHeader {
  width: 100%; 
  background-image: url("../img/headerBackground.png");
  bottom: 15px;
  position: relative;
}

#allContent {
  width: 80%;
  margin: auto;
  font-size: 20px;
}

.info {
  margin-top: 10px;
  font-size: 20px;
  display: inline-block;
}


.navbar-nav, .navbar {
  background-color: #94748f;
}

.nav-link {
  color: white;
}

footer{
  margin-top: 50px;
  width: 80%;
  margin: auto;
}

#footer-block {
  margin: 0px auto;
  border-top: 1px grey solid;
  text-align: center;
  color: black;
  font-size: 15px;
}

#showcase {
  background-color: #ededed;
  border: 2px solid #dbdbdb;
  height: 55%;
  width: 60%;
  margin:0 auto;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);

}

#console-box{
  position:relative;
  height:300px;
  width:40%;
  background-color:#000;
  color: #55ff55;
  font-family: monospace;
  padding:6px; 
  margin: 2% auto;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.12);
  border: 2px solid #161616;
  font-size: 14px;
}



.nav-item, .nav-link {
  margin-left: 40px;
}




